@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Seaweed+Script);
ul>li>a {
    color: #fff
}

body {
    background: url(../res/noisy_net_@2X.png)
}

.borf {
    border-bottom-color: #fff;
}

.nav>li>a:hover {
    color: #000;
    background-color: #fff
}

.circular {
    background-repeat: no-repeat;
    background-position: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8)
}

.circular1 {
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #fff;
    text-align: center;
    font-size: 25px;
    color: #1a88cd;
    line-height: 150px;
    font-family: Alegreya SC;
    -moz-box-shadow: 5px -1px 5px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px -1px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 5px -1px 5px 0 rgba(0, 0, 0, 0.75)
}

header .container {
    padding-top: 25px;
    /*padding-bottom: 25px*/
}

.profileme {
    color: #fff;
    padding: 10px;
    font-family: Alegreya SC;
}

header .fname {
    color: #1a88cd;
    display: block;
    text-transform: uppercase;
    font-size: 4em;
    line-height: .3em;
    font-weight: 700;
    text-shadow: 1px 1px 4px rgba(11, 22, 40, 1);
    text-align: left;
    font-family: arial, helvetica, sans-serif
}

header .lname {
    color: #1a88cd;
    display: block;
    text-transform: uppercase;
    font-size: 6em;
    font-weight: 700;
    text-shadow: 1px 1px 4px rgba(11, 22, 40, 1);
    text-align: left;
    font-family: arial, helvetica, sans-serif
}

header .skills {
    font-size: 17;
    color: #ccc;
    float: left;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-weight: 700;
    text-transform: uppercase
}

.delt {
    text-align: center;
}

.list-sty>li {
    list-style-type: square;
    line-height: 1.7
}

.compressimg {
    width: 50px;
    height: 50px
}

a {
    font-family: "Alegreya SC";
}

.sty-box {
    line-height: 1.7;
    -moz-box-shadow: 0.2em 0 0 #fff, -0.2em 0 0 #fff;
    -webkit-box-shadow: 0.2em 0 0 #fff, -0.2em 0 0 #fff;
    box-shadow: 0.2em 0 0 #fff, -0.2em 0 0 #fff;
    background-color: #fff;
    color: rgb(22, 27, 32);
    font-weight: bold
}

.details {
    width: 100%;
    font-size: initial;
}

.fulwidth {
    width: 100%;
}

.su_language {
    position: relative;
    font-size: 15px;
}

.circlemeter {
    margin: 15px;
}

.circle {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
}

.cut {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.cl_green {
    position: absolute;
    clip: rect(0 100px 100px 50px);
    background-color: rgb(26, 136, 205)
}

.cl_red {
    position: absolute;
    clip: rect(0 50px 100px 0);
    background-color: rgb(26, 136, 205)
}

.circl {
    background-color: #fff;
    width: 90px;
    height: 90px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    color: rgb(26, 31, 36);
    text-align: center;
    font-family: "Pacifico";
    top: 5px;
    left: 5px;
    z-index: 1000;
    line-height: 90px
}

.sign {
    font-family: 'Seaweed Script', cursive;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #cccccc;
    border-radius: 1px;
}
