ul>li>a {
    color: #fff
}

body {
    background: url(../res/1.jpg) 
}

.borf {
    border-bottom-color: #fff;
}

.nav>li>a:hover {
    color: #000;
    background-color: #fff
}

.circular {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8)
}

.circular1 {
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #fff;
    text-align: center;
    font-size: 25px;
    color: #1a88cd;
    line-height: 150px;
    font-family: Alegreya SC;
    -webkit-box-shadow: 5px -1px 5px 0 rgba(0, 0, 0, .75);
    -moz-box-shadow: 5px -1px 5px 0 rgba(0, 0, 0, .75);
    box-shadow: 5px -1px 5px 0 rgba(0, 0, 0, .75)
}

header .container {
    padding-top: 25px;
    padding-bottom: 25px
}

header .fname {
    color: #1a88cd;
    display: block;
    text-transform: uppercase;
    font-size: 4em;
    line-height: .3em;
    font-weight: 700;
    text-shadow: 1px 1px 4px rgba(11, 22, 40, 1);
    text-align: left;
    font-family: arial, helvetica, sans-serif
}

header .lname {
    color: #1a88cd;
    display: block;
    text-transform: uppercase;
    font-size: 6em;
    font-weight: 700;
    text-shadow: 1px 1px 4px rgba(11, 22, 40, 1);
    text-align: left;
    font-family: arial, helvetica, sans-serif
}

header .skills {
    font-size: 17;
    color: #ccc;
    float: left;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-weight: 700;
    text-transform: uppercase
}

.delt {
    text-align: center;
    height: 150px
}

.list-sty>li {
    list-style-type: square;
    line-height: 1.7
}

.compressimg {
    width: 50px;
    height: 50px
}

a {
    font-family: "Alegreya SC";
}

.sty-box {
    line-height: 1.7;
    box-shadow: 0.5em 0 0 #fff, -0.5em 0 0 #fff;
    background-color: #fff;
    color: rgb(22, 27, 32);
    font-weight: bold;
}

.details {
    width: 100%;
    font-size: initial;
}

.fulwidth {
    width: 100%;
}
